<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Virtual Writing Workshop</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

	<div id="nav">
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Writing Workshop</span>
			</a>
			<a href="/resources">
				<span class="button">Writing Resources</span>
			</a>
			<a href="/writing">
				<span class="button">Create Post</span>
			</a>
		</div>

		<div class="col-sm" style="text-align:right">
			<% if (!loggedIn) {%>
			<a href="/auth/google">
				<span class="button">Login</span>
			</a>
			<% } else  { %>
				<%= user.googleemail %>
			<a href="/logout">
				<span class="button">Logout</span>
			</a>
			<% } %>
		</div>

	</div>

	<%- body %>

</body>

</html>
