<div class="jumbotron jumbotron-fluid">
  <h1>Digital Musicology</h1>
  <div class="container">
    <ol>
      <li><a href="https://github.com/MeasuringPolyphony" target="_blank">Measuring Polyphony</a></li>
      <li><a href="https://dlfteach.pubpub.org/pub/intro-mei/release/1" target="_blank">Introduction to the Music Encoding Initiative</a></li>
      <li><a href="https://doc.verovio.humdrum.org/humdrum/getting_started/" target="_blank">Verovio Humdrum Viewer Documentation</a></li>
    </ol>
  </div>
</div>
