<div class="container">
  <div class="row">
    <h4>Create a post</h4>
    <hr>
    <div class="col-sm-8">
      <div class="jumbotron">
        <form method="post" action="/writing">
          <input type="text" name="title" value="" placeholder="Title"><br><br>
          <textarea name="writing" rows="5" placeholder="Text"></textarea>
          <input class="button" id="postButton" type="submit" value="Post">
        </form>
      </div>

    </div>

    <div class="col-sm-4">

    </div>
  </div>
</div>
